@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "VIRGIL";
  src: url("../fonts/Virgil.woff2");
}

[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}


body {
  margin: 0;
  padding: 0;
}
